body{
    margin: 0;
    // background-color: #21315a;
    // color: #fff;
    font-family: 'Lato', sans-serif;
}
.container{
    // border: 1px dashed red;
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header{
    // border: 1px dashed blue;
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        hsla(157, 62%, 47%, 0.8),
        hsla(166, 62%, 47%, 0.8))
        ,url(../img/header-bg.jpg);
    background-size: 100%;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}
.about{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%)
    // height: 200px;
}
.about-col{
    height: 350px;
}
.text{
    // border: 1px dashed salmon;
    padding: 0px 30px;
}
.video{
    // border: 1px dashed green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social{
    // border: 1px dashed red;
    // margin: 20px;
    font-size: 28px;

    i{
        margin: 0px 5px;
    }
    a{
        color: inherit;
    }
}
@media only screen and (max-width: 800px){
    .gif{
        width: 100%;
    }
}