// GLOBAL STYLES
$pulito-green: #2EC19E;

.margin-btwn{
    margin: 50px 0px;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 30px;
}

p{
    font-size: 18px;
    font-weight: 300;
}

.padding-wrapper{
    padding: 0px 40px;
}

// INDIVIDUAL STYLES

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

// HEADER STYLES

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        hsla(157, 62%, 47%, 0.8),
        hsla(166, 62%, 47%, 0.8))
        ,url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.forest{
    width: 100%;
    position: absolute;
    bottom: 0;
}

//  ABOUT STYLES

.about{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        margin: 0px;
    }
}

.pics{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 70%;
    }
}

//  FEATURES SECTION STYLES

.features{
    background-image: linear-gradient(
        to right bottom,
        hsla(157, 62%, 47%, 0.8),
        hsla(166, 62%, 47%, 0.8))
        ,url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;

    h2{
        margin-top: 80px;
    }
    
}

.feat-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    padding-bottom: 60px;
}

.feat-col {
    padding: 0px;
}

// TEAM SECTION STYLES

.team{
    // border: 1px dashed red;
    padding: 40px 0px 0px 0px;

    p{
        margin-bottom: 40px;
    }
}

.social{
    color: $pulito-green;
    font-size: 28px;
    margin: 30px 0px;

    i{
        margin: 0px 5px;
    }
    a{
        color: inherit;
    }
}

@media only screen and (max-width: 450px) {
    .logo{
        width: 300px;
    }
    p{
        font-weight: 500;
    }
    .padding-wrapper{
        padding: 0px 25px;
    }
    .video{
        height: 300px;
    }
}

@media only screen and (max-width: 1024px) {
    .header{
        background-attachment: scroll;
    }

    .features{
        background-attachment: scroll;
    }
}